<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <div class="wrapper">
        <h1>TUM International Bank</h1>
            <div class="content">
            <p>
            Welcome to TUM International Bank. This Project is an outcome of Secure Coding initiative. ksjadhjakdfhjkf kjadshfkjdfhakjfhdkjfashkjfshkjhajdskf kjadhfkjdsfhjkfdhskajfhkjhsak akjsdfhjkasfhkjfhakjfhkj adskjhfkjafhkjfahk
                </p>
        </div>
            <div class="login">
         <iframe src="http://localhost/ScTeam11/login.html" allowTransparency="true"></iframe> 
            </div>    
        </div>
    </body>
</html>