<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <div class="wrapper">
        <h1>TUM International Bank</h1>
            <div class="content">
            <p>
                Welcome to TUM International Bank. This Project is an outcome of Secure Coding Course. </br> </br>Please register if you dont have an account. 
                </p>
                <img src="../web/vault.jpeg"></img>
        </div>
            <div class="login">
         <iframe src="login.html" allowTransparency="true"></iframe> 
            </div>    
        </div>
    </body>
</html>